@model AssignRoleViewModel

<h1>Kullanıcıya Rol Ata</h1>

<form asp-action="AssignRole" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        <label for="roleName">Rol Seç</label>
        <select class="form-control" id="roleName" name="roleName">
            @foreach (var role in Model.Roles)
            {
                <option value="@role.Name" disabled="@Model.UserRoles.Contains(role.Name)">
                    @role.Name
                </option>
            }

        </select>
    </div>
    <button type="submit" class="btn btn-primary">Ata</button>
</form>
